Flask==2.0.1
pymssql
numpy==1.22.4
pandas==1.4.2
statsmodels
scikit-learn==1.1.3
sklearn
tensorflow-cpu==2.7.0
gunicorn
pandas_profiling
matplotlib
seaborn
argparse
neuralprophet
xgboost
argparse
joblib
tensorflow==2.9.1
opencv==4.6.0
datetime
neuralprophet
sklearn
flask
dateutil